.background {
    -fx-background-color: #fff;
}

.button-login {
    -fx-background-radius: 12px;
    -fx-background-color: #d31548;
}

.button-login:hover,
.button-login:focused {
    -fx-background-color: #a11037;
}

.input-text {
    -fx-background-radius: 12px;
}
