/*csslint vendor-prefix:ignore */

.background {
    -fx-background-color: #fff;
}

.button-signup {
    -fx-background-radius: 12px;
    -fx-background-color: #df782b;
}

.button-signup:hover {
    -fx-background-color: #b46022;
}

.input-text {
    -fx-background-radius: 12px;
}
